/* Summary text
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/summary/summary.variables.scss */
.summary {
  display: flex;
  margin: $eos-summary-margin;

  &-content {
    background: $eos-summary-bg;
  }

  &-lg {
    font-size: $eos-summary-text;
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
    padding: $eos-summary-center-padding;
  }

  strong {
    color: $eos-summary-color-em;
    font-style: normal;
  }

  .eos-icons {
    vertical-align: middle;
  }
}
