extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Patterns

      p.subheadline
        | Patterns are common user flows found in different components, modules, or
        | templates. Patterns normally consist of a combination of two or more elements or
        | components from the Design System.
    hr
    article
      h3
        | EOS patterns
      dl.patterns-list
        dt
          a(href='patterns/common-actions')
            | Common actions
        dd
          p
            | How to apply repetitive actions across different elements and components.
        dt
          a(href='patterns/loading')
            | Loading
        dd
          p
            | A guide on how and where to use animated icons.
        dt
          a(href='patterns/spacing')
            | Spacing
        dd
          p
            | Calculated spacing variables that are use for paddings and margins.
        dt
          a(href='patterns/date-time')
            | Date & time
        dd
          p
            | Documentation on how to display date and time in clear and understadable way.
