/* Colors
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/colors/colors.variables.scss */
.colors-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $eos-xl;

  &:last-of-type {
    flex: 1;
    justify-content: space-between;
    margin-bottom: 0;

    .color-wrap {
      margin-right: 0;
    }

    @media screen and (max-width: $eos-md-max) {
      justify-content: flex-start;

      .color-wrap {
        margin-right: $eos-xl;
      }
    }
  }

  &:first-of-type {
    justify-content: flex-start;
  }

  /* Single color wrap */
  .color-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $eos-color-wrap-margin;
    width: $eos-color-content-max-width;

    /* Color title */
    .color-title {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;

      h4,
      p {
        margin-bottom: $eos-xs;
      }

      h4 {
        color: $eos-color-title;
      }

      p {
        color: $eos-color-description;
        margin-top: $eos-color-title-p-margin-top;
      }
    }

    .used-for {
      p {
        color: $eos-color-description;
        margin: $eos-color-used-for-p-margin;
      }
    }

    .gray-color-content {
      .color {
        width: 40px;
      }
    }

    .color-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: $eos-color-content-max-width;
    }

    /* Define right row */
    .color-all {
      display: flex;
      flex-direction: column;
    }

    /* Define right columns */
    .color-top,
    .color-bottom {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    /* Define shader square */
    .color {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: $eos-shade-box-size;
      justify-content: center;
      transition: transform .2s ease;
      width: $eos-shade-box-size;

      span {
        display: none;
        font-weight: bold;
        text-align: center;

        .hex {
          font-size: $eos-hex-title-size;
          font-weight: 300;
        }
      }

      &:hover {
        box-shadow: $eos-shade-box-shadow;
        cursor: pointer;
        transform: scale(1.3);
        transition-duration: .1s;

        span {
          display: block;
        }
      }

      &:active {
        transform: scale(1.6);
      }
    }

    .color-top {
      flex-direction: row-reverse;
    }

    /* Define left row */
    .color-500 {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: $eos-shader-color-size;
      font-weight: bold;
      height: auto;
      justify-content: center;
      min-width: 100px;
      transition: transform .2s ease;
      width: 100%;

      &:hover {
        box-shadow: $eos-shade-box-shadow;
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: .1s;
      }

      &:active {
        transform: scale(1.3);
      }

      span {
        display: block;
        font-size: $eos-hex-title-size;
        font-weight: 200;
      }
    }

    .color-solo {
      .color-solo-box {
        align-items: center;
        display: flex;
        height: $eos-color-content-max-height;
        justify-content: center;
        margin-top: $eos-m;
        width: $eos-color-content-max-width;

        &.white {
          border: 1px solid $eos-color-solo-border;
        }

        &.black {
          background-color: $eos-color-solo-background;
          color: $eos-color-solo-color;
        }

      }
    }
  }
}

/* Define colors wrap color */
.bc-green,
.bc-orange,
.bc-cerulean,
.bc-yellow,
.bc-gray {
  color: $eos-color-collection-title-dark;
}

.color-1000 {
  color: $eos-color-collection-title-gray;
}

.bc-blue,
.bc-violet,
.bc-red {
  color: $eos-color-collection-title-light;

  p {
    color: $eos-color-collection-description;
  }
}

/* Map the shaders to the color variable. */
$eos-colors-collection: (
  green: (100: $eos-bc-green-100, 200: $eos-bc-green-200, 300: $eos-bc-green-300, 400: $eos-bc-green-400, 500: $eos-bc-green-500, 600: $eos-bc-green-600, 700: $eos-bc-green-700, 800: $eos-bc-green-800, 900: $eos-bc-green-900),
  blue: (100: $eos-bc-blue-100, 200: $eos-bc-blue-200, 300: $eos-bc-blue-300, 400: $eos-bc-blue-400, 500: $eos-bc-blue-500, 600: $eos-bc-blue-600, 700: $eos-bc-blue-700, 800: $eos-bc-blue-800, 900: $eos-bc-blue-900),
  orange: (100: $eos-bc-orange-100, 200: $eos-bc-orange-200, 300: $eos-bc-orange-300, 400: $eos-bc-orange-400, 500: $eos-bc-orange-500, 600: $eos-bc-orange-600, 700: $eos-bc-orange-700, 800: $eos-bc-orange-800, 900: $eos-bc-orange-900),
  cerulean: (100: $eos-bc-cerulean-100, 200: $eos-bc-cerulean-200, 300: $eos-bc-cerulean-300, 400: $eos-bc-cerulean-400, 500: $eos-bc-cerulean-500, 600: $eos-bc-cerulean-600, 700: $eos-bc-cerulean-700, 800: $eos-bc-cerulean-800, 900: $eos-bc-cerulean-900),
  violet: (100: $eos-bc-violet-100, 200: $eos-bc-violet-200, 300: $eos-bc-violet-300, 400: $eos-bc-violet-400, 500: $eos-bc-violet-500, 600: $eos-bc-violet-600, 700: $eos-bc-violet-700, 800: $eos-bc-violet-800, 900: $eos-bc-violet-900),
  red: (100: $eos-bc-red-100, 200: $eos-bc-red-200, 300: $eos-bc-red-300, 400: $eos-bc-red-400, 500: $eos-bc-red-500, 600: $eos-bc-red-600, 700: $eos-bc-red-700, 800: $eos-bc-red-800, 900: $eos-bc-red-900),
  yellow: (100: $eos-bc-yellow-100, 200: $eos-bc-yellow-200, 300: $eos-bc-yellow-300, 400: $eos-bc-yellow-400, 500: $eos-bc-yellow-500, 600: $eos-bc-yellow-600, 700: $eos-bc-yellow-700, 800: $eos-bc-yellow-800, 900: $eos-bc-yellow-900),
  gray: (50: $eos-bc-gray-50, 100: $eos-bc-gray-100, 200: $eos-bc-gray-200, 300: $eos-bc-gray-300, 400: $eos-bc-gray-400, 500: $eos-bc-gray-500, 600: $eos-bc-gray-600, 700: $eos-bc-gray-700, 800: $eos-bc-gray-800, 900: $eos-bc-gray-900, 1000: $eos-bc-gray-1000)
);

@each $eos-label, $eos-map in $eos-colors-collection {
  .bc-#{$eos-label} {

    @each $eos-key, $eos-value in $eos-map {
      $eos-bg: #{$eos-value};

      .color-#{$eos-key} {
        background: $eos-bg;
      }
    }
  }
}
