/* UX writing
   ========================================================================== */
.pyramid {
  margin-left: auto;
  margin-right: auto;
  margin-top: $eos-xxl;
  position: relative;
  width: 300px;

  &-triangle,
  &-trapezoid {
    color: $eos-ux-writing-pyramid-text-color;
    height: 0;
    position: relative;

    .text {
      position: absolute;
    }
  }

  &-triangle {
    border-bottom: 100px solid $eos-bc-green-500;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin-bottom: $eos-m;
    margin-left: 90px;
    width: 120px;

    @media screen and (max-width: $eos-sd-max) {
      border-bottom: 80px solid $eos-bc-green-500;
      border-left: 48px solid transparent;
      border-right: 48px solid transparent;
      margin-left: 72px;
      width: 96px;
    }

    .text {
      left: -17px;
      top: 40px;

      @media screen and (max-width: $eos-sd-max) {
        left: -17px;
        top: 33px;
      }
    }
  }

  &-trapezoid {
    border-bottom: 145px solid $eos-bc-blue-500;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    width: 300px;

    @media screen and (max-width: $eos-sd-max) {
      border-bottom: 110px solid $eos-bc-blue-500;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      width: 240px;
    }

    .text {
      top: 60px;

      @media screen and (max-width: $eos-sd-max) {
        text-align: center;
        top: 40px;
      }
    }
  }

  &-explanation {
    left: 300px;
    position: absolute;
    top: 0;
    width: 100px;

    @media screen and (max-width: $eos-sd-max) {
      left: 220px;
    }

    h6,
    p {
      margin: 0;
    }

    .top {
      margin-top: 2em;
    }

    .bottom {
      margin-top: 6em;

      @media screen and (max-width: $eos-sd-max) {
        margin-top: 3.5em;
      }
    }
  }
}
